/*catchall to make sure these items don't overflow*/
img, embed, object, video { max-width: 100%; }

nav a, button { min-width : 48px; min-height: 48px }

body {
	background-color: grey;
	margin: auto;
	padding-top: 50px;
}

.footer {
	background-color: black;
}

/******************************************************
		Home Section
******************************************************/

/******************************************************
		Mission Section
******************************************************/

/******************************************************
		Events Section
******************************************************/

/******************************************************
		Newsletter Section
******************************************************/
.newsletterpage {
	padding-top: 50px;
	margin: auto;
	width: 70%;
}

/******************************************************
		Team Section
******************************************************/

/******************************************************
		Contact Section
******************************************************/

/******************************************************
		Donate Section
******************************************************/