<div class="eventspage">
	<div class="upcomingevents" ng-style="BackgroundImage">
	</div>
	<div class="pastevents">
		<h2>2014 Events</h2>
		<div class="row events">
    		<div class="col-sm-12 col-md-3">
      			<img src="images/hope-for-holidays.jpg" alt="Hope for the Holidays" style="width: 150px" ng-click="open('lg')">
    		</div><!-- /.col-lg-4 -->
    		<div class="col-sm-12 col-md-3">
      			<img src="images/green-river-flyer.jpg" alt="Hope for the Holidays" style="width: 150px" ng-click="open('lg')">
    		</div><!-- /.col-lg-4 -->
  		</div><!-- /.row -->
  		<br><br>
  	</div>
</div>


